.post {
    margin: 10px;
}
.post-header{
    display:  flex;
}
.html-icon{
    padding: 2px;
}
.name-html{
    padding: 2px;
}
.post-img{
    border: solid;
}
.post-body{
    
}
.post-icons{
    display:flex;
}
.heart{

}
.comment{

}
.plane{

}
.bookmark{

}
